{% extends "base.html" %}
{% block content %}
	<p>Hola</p>
	<table class="table table-bordered" >
		<col style="width:10%;" />
  		<col style="width:30%;" />
		<thead>
			<th>Pedido</th>
			<th>Mesa</th>
			<th> Estado </th>
			<th> Seleccion </th>
		</thead>
		{% for trago in entries %}
		<tr>
			<th>{{trago.id_trago}}</th>
			<th>{{trago.tipo}}</th>
			<th>{{trago.trago}}</th>
			<th><button type='button' class='btn btn-danger btnDelete' onchange="{{url_for('new_orden')}}"><span class='glyphicon glyphicon-ok'></span></button></th>
		</tr>
		{% endfor %}
	</table>
	
{% endblock content %}
