{% extends "base.html" %}

{% block content %}
    <form  class="form-horizontal" role="form" name="input"  action="{{ url_for('entregado') }}" method="post" enctype="multipart/form-data">      
        <div align="center" id="containers">
        	<h1 class="cover-heading">TRAGOS EN BARRA</h1>
            <table class="table table-hover table-bordered" padding-left="100" id="tablamon">
                <thead>
                    <th>Mesa</th>
                    <th>Trago</th>
                    <th>Cantidad</th>
                    <th>Entregado</th>
                </thead>
                <tbody id="tabla_pendientes">
                    {% for datos in pedido %}
                    <tr>
                        <th><input name="idp" type="hidden" value="{{datos.id_pedido}}" ></input>{{datos.n_mesa}}</th>
                        <th><input name="trago" type="hidden" value="{{datos.trago}}"></input>{{datos.trago}}</th>
                        <th>{{datos.cantidad}}</th>                       
                        <th><button type='submit' class='btn btn-success btnListo' ><span class='glyphicon glyphicon-ok'></span></button></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    
{% endblock content %}


