{% extends "base.html" %}
{% block morehead %}
<link href="{{url_for('static', filename='css/errorUC.css')}}" rel="stylesheet">
{% endblock morehead %}
{% block content %}
	<div class="inner cover">
            <h1 class="cover-heading">Usuario no autorizado</h1>
            <p class="lead">Cierre Sesión activa e inicie con cuenta de barman</p>
            <p class="lead">
              <a href="{{url_for('logout')}}" class="btn btn-lg btn-default">Cerrar Sesión</a>
            </p>
          </div>
{% endblock content %}